.form-row {
    display: flex;
    gap: 16px;

    mat-form-field {
        flex: 1;
    }
}

.full-width {
    width: 100%;
    margin-bottom: 8px;
}

mat-dialog-content {
    min-width: 400px;
    padding-top: 16px;
}